/* NAV MENU - Moved this from css_for_the_sliding_navigation_menu */
/* Home button loads the progress chart into the iFrame */
/* REMEMBER: Must there be duplicates of these in progress.css ? NO, the new version handles it by ...???*/
.everyThingFadesToBlack{animation-name: toBlack; animation-duration: 0.7s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes toBlack {    0%{ filter: brightness(1);} 100%{ filter: brightness(0.05);}  }
.everyThingComesFromBlack{animation-name: fromBlack; animation-duration: 0.7s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes fromBlack {  0%{ filter: brightness(0.05);} 100%{ filter: brightness(1);}  }

/*MOVED THIS (i.e. the preloader's stuff) FROM css_for_every_single_html*/
/*AND THEN MOVED IT TO css_for_preloader_and_orbiting_circles*/
/*Preloader - Appear & Disappear*/
.addThisClassToHideThePreloader{ /*Do a "Find in project" search to see exactly where this is used*/
  animation: fadeOutAndBeGone 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAndBeGone {
  0%{    opacity: 1;    visibility: visible;  }
  100%{  opacity: 0;    visibility: hidden;   }
}
.addThisClassToRevealThePreloader{ /*Do a "Find in project" search to see exactly where this is used*/
  animation: appearByFadingIn 1.5s;
  animation-fill-mode: forwards;
}
@keyframes appearByFadingIn {
  0%{    opacity: 0;    visibility: hidden;   }
  100%{  opacity: 1;    visibility: visible;  }
}

#idOfThePreloadHandlingDiv:hover{ cursor: url("/user_interface/images/cursor/default_cursor.png") 16 4,auto; }

/*ORBITING CIRCLES*/
@keyframes ldio-d52i6xebzgm-r {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
@keyframes ldio-d52i6xebzgm-s {
  0%, 100% { animation-timing-function: cubic-bezier(0.2 0 0.8 0.8) }
  50% { animation-timing-function: cubic-bezier(0.2 0.2 0.8 1) }
  0% { transform: translate(-19.3px,-19.3px) scale(0) }
  50% { transform: translate(-19.3px,-19.3px) scale(1) }
  100% { transform: translate(-19.3px,-19.3px) scale(0) }
}
.ldio-d52i6xebzgm > div { transform: translate(0px,-9.65px) }
.ldio-d52i6xebzgm > div > div {
  animation: ldio-d52i6xebzgm-r 3.4482758620689653s linear infinite;
  transform-origin: 96.5px 96.5px;
}
.ldio-d52i6xebzgm > div > div > div {
  position: absolute;
  transform: translate(96.5px, 84.92px);
}
.ldio-d52i6xebzgm > div > div > div > div {
  width: 38.6px;
  height: 38.6px;
  border-radius: 50%;
  background: #7eee32;
  animation: ldio-d52i6xebzgm-s 3.4482758620689653s linear infinite;
}
.ldio-d52i6xebzgm > div > div:last-child {
  animation-delay: -1.7241379310344827s;
}
.ldio-d52i6xebzgm > div > div:last-child > div > div {
  animation-delay: -1.7241379310344827s;
  background: #32bef3;
}
.orbitingCirclesTopContainer{
  position: fixed; z-index: 1049;
  display: flex; justify-content: center; align-items: center;
  top:0px; left: 0px; width: 100vw; height: 100vh;
  background-color: black;
}
.loadingio-spinner-interwind-f4cl6mjzf0h {
  z-index: 1050; /*welcome menu is 9998*/ /*sliding nav menu is 1111*/
  width: 193px;  height: 193px;
  display: block;
  overflow: hidden;
  background: #000000;
}
.ldio-d52i6xebzgm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-d52i6xebzgm div { box-sizing: content-box; }
