/* These are not set via script with if conditions.*/
/* Simply, a parent html like index.html, ja.html or tr.html will take its rules from here or an alternative as whichever is linked with rel stylesheet */
body{ /*Also see css_for_every_single_html.css*/
  /*font-size: 6vmin;*/ /*Must depend on both device type and the font used in the user interface language*/
  font-weight: bold;
}

button{
  /*font-size: 3vmin;*/ /*Must depend on both device type and the font used in the user interface language*/
  font-weight: bold;
}

/*DESKTOPS*/
@media (min-width:1024px) {
  body{font-size: 35px;}
  button{font-size: 25px; }
}
/*MOBILES*/
@media (max-width:1023px) {
  body{font-size: 32px;}
  button{font-size: 22px; }
}

.promptBoxInParent{
  font-size: 24px;
}
