/*AVOID: Filepaths must be relative without refering to the root '/' so that iframed domain masking can work. */
/*File paths work when they are given with respect to this css file. Not to the html files.*/
body{
  cursor: url('../user_interface/images/cursor/default_cursor_00.png') 16 6,auto;
  animation: defaultCursor 1.85s; animation-iteration-count: 3; animation-fill-mode: forwards;
  animation-direction: alternate; animation-delay: 0s;
}
button{
  cursor: url('../user_interface/images/cursor/button_cursor_00.png') 16 6,auto;
  animation: hoverCursor 1.85s;  animation-iteration-count: infinite;
  animation-direction: alternate; animation-delay: 2s;
}

/*The glitchiness issue (missing frames due to network latency: When completion of png file downloads happen after browser initializes rendering) has been solved with link preload and onload.*/
@keyframes defaultCursor {
  0% {cursor: url('../user_interface/images/cursor/default_cursor_00.png') 16 6,auto;}
  5% {cursor: url('../user_interface/images/cursor/default_cursor_01.png') 16 6,auto;}
  10% {cursor: url('../user_interface/images/cursor/default_cursor_02.png') 16 6,auto;}
  15% {cursor: url('../user_interface/images/cursor/default_cursor_03.png') 16 6,auto;}
  20% {cursor: url('../user_interface/images/cursor/default_cursor_04.png') 16 6,auto;}
  25% {cursor: url('../user_interface/images/cursor/default_cursor_05.png') 16 6,auto;}
  30% {cursor: url('../user_interface/images/cursor/default_cursor_06.png') 16 6,auto;}
  35% {cursor: url('../user_interface/images/cursor/default_cursor_07.png') 16 6,auto;}
  40% {cursor: url('../user_interface/images/cursor/default_cursor_08.png') 16 6,auto;}
  45% {cursor: url('../user_interface/images/cursor/default_cursor_09.png') 16 6,auto;}
  50% {cursor: url('../user_interface/images/cursor/default_cursor_10.png') 16 6,auto;}
  55% {cursor: url('../user_interface/images/cursor/default_cursor_11.png') 16 6,auto;}
  60% {cursor: url('../user_interface/images/cursor/default_cursor_12.png') 16 6,auto;}
  65% {cursor: url('../user_interface/images/cursor/default_cursor_13.png') 16 6,auto;}
  70% {cursor: url('../user_interface/images/cursor/default_cursor_14.png') 16 6,auto;}
  75% {cursor: url('../user_interface/images/cursor/default_cursor_15.png') 16 6,auto;}
  80% {cursor: url('../user_interface/images/cursor/default_cursor_16.png') 16 6,auto;}
  85% {cursor: url('../user_interface/images/cursor/default_cursor_17.png') 16 6,auto;}
  90% {cursor: url('../user_interface/images/cursor/default_cursor_18.png') 16 6,auto;}
  95% {cursor: url('../user_interface/images/cursor/default_cursor_19.png') 16 6,auto;}
  100% {cursor: url('../user_interface/images/cursor/default_cursor_19.png') 16 6,auto;}
}
@keyframes hoverCursor {
  0% {cursor: url('../user_interface/images/cursor/button_cursor_00.png') 16 6,auto;}
  5% {cursor: url('../user_interface/images/cursor/button_cursor_01.png') 16 6,auto;}
  10% {cursor: url('../user_interface/images/cursor/button_cursor_02.png') 16 6,auto;}
  15% {cursor: url('../user_interface/images/cursor/button_cursor_03.png') 16 6,auto;}
  20% {cursor: url('../user_interface/images/cursor/button_cursor_04.png') 16 6,auto;}
  25% {cursor: url('../user_interface/images/cursor/button_cursor_05.png') 16 6,auto;}
  30% {cursor: url('../user_interface/images/cursor/button_cursor_06.png') 16 6,auto;}
  35% {cursor: url('../user_interface/images/cursor/button_cursor_07.png') 16 6,auto;}
  40% {cursor: url('../user_interface/images/cursor/button_cursor_08.png') 16 6,auto;}
  45% {cursor: url('../user_interface/images/cursor/button_cursor_09.png') 16 6,auto;}
  50% {cursor: url('../user_interface/images/cursor/button_cursor_10.png') 16 6,auto;}
  55% {cursor: url('../user_interface/images/cursor/button_cursor_11.png') 16 6,auto;}
  60% {cursor: url('../user_interface/images/cursor/button_cursor_12.png') 16 6,auto;}
  65% {cursor: url('../user_interface/images/cursor/button_cursor_13.png') 16 6,auto;}
  70% {cursor: url('../user_interface/images/cursor/button_cursor_14.png') 16 6,auto;}
  75% {cursor: url('../user_interface/images/cursor/button_cursor_15.png') 16 6,auto;}
  80% {cursor: url('../user_interface/images/cursor/button_cursor_16.png') 16 6,auto;}
  85% {cursor: url('../user_interface/images/cursor/button_cursor_17.png') 16 6,auto;}
  90% {cursor: url('../user_interface/images/cursor/button_cursor_18.png') 16 6,auto;}
  95% {cursor: url('../user_interface/images/cursor/button_cursor_19.png') 16 6,auto;}
  100% {cursor: url('../user_interface/images/cursor/button_cursor_19.png') 16 6,auto;}
}
