.invisibleTopContainerOfTheNavigationMenuOnMobiles{
  z-index: 1111;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px; /*Or use script. See js_for_the_sliding_navigation_menu.js*/
  height: 22vmin;
  overflow: hidden;
}
.theSmallNavigationMenuMOBILEStyling{
  background-color: rgba(255,255,255,0.75);
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 21vmin;
  box-shadow: 0 0 1vmin #55778e;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.theSmallNavigationMenuMOBILEStyling img{
  height: 21vmin;
  width: 21vmin;
}

.addThisForAnimationAppearFromBottom{
  animation-name: appearFromBottom;
  animation-duration: .4s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes appearFromBottom {
  0%{
    bottom: -22vmin; /*CAUTION: Must be equal to the value in sinkAndDisappear*/
  }
  100%{
    bottom: 0vmin;
  }
}

.addThisForAnimationSinkAndDisappear{
  animation-name: sinkAndDisappear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}
@keyframes sinkAndDisappear {
  0%{    bottom: 0vmin;  }
  10%{    bottom: -8vmin;  }
  20%{    bottom: -13vmin;  }
  30%{    bottom: -16vmin;  }
  40%{    bottom: -18vmin;  }
  50%{    bottom: -19vmin;  }
  100%{
    bottom: -22vmin; /*CAUTION: Must be equal to the value in appearFromBottom*/
  }
}

.invisibleHoverAreaToAccessNavigationMenu{
  z-index: 1110;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 150px;
}

.theNavigationMenuDESKTOPStyling{
  z-index: 1111;
  background-color: rgba(255,255,255,0.99);
  position: absolute;  width: 100%;
  height: 140px;
  box-shadow: 0 0 15px #55778e;
  display: flex;  align-items: center;  justify-content: center;
  overflow: hidden;
  opacity: 1; margin-top: 0px;
  transition-property: opacity, margin-top;  transition-timing-function: ease;
}

.revealWithQuickTransition{ transition-duration: .2s, .7s; opacity: 1; margin-top: 0px; }
.hideWithSlowTransition{ transition-duration: .5s, 2.5s; opacity: .5; margin-top: -138px; }

.theNavigationMenuDESKTOPStyling img{
  height: 140px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .15s;
}


/* _____ SLIDERS _____ */
.sliderContainerDivsWillLook{
  width: 140px;
  height: 140px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_background.webp") no-repeat; /* Use an absolute or relative path */
  background-size: 140px 140px;
  position: absolute;
  /*left: 0%;*//*right: 0%;*/ /*Set via script -> see js_for_sliding_navigation_menu.js*/
  transform: rotate(-90deg);
}
.sliderContainerDivsWillLook:hover{
  background: url("/user_interface/images/sliding_navigation_menu/slider_background_hover.webp") no-repeat; /* Use an absolute or relative path */
}

.bothSlidersAppearance{
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%); /*Not sure if the -ms- prefix is necessary. Will leave it anyways*/
  transform: translateY(-50%);
  -webkit-appearance: none;
  appearance: none;
  width: 110px;
  height: 48px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #abc9bb;
  background: radial-gradient(#ddefe2, #acdaba); /*center color first, outer color second*/
  box-shadow: inset 0px 0px 3px #adc8bf, inset 0px 0px 2px #abc9bb;
  transition: all .4s;
}
.bothSlidersAppearance:hover {
  border: 1px solid #f6d497;
  background: radial-gradient(#ffead3, #fcc696); /*center color first, outer color second*/
  box-shadow: inset 0px 0px 3px #f6c380, inset 0px 0px 2px #f6d497;
  cursor: pointer;
}
.bothSlidersAppearance::-webkit-slider-thumb{ filter:drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5)); border: 0px solid transparent; }
.bothSlidersAppearance::-moz-range-thumb{ filter:drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5)); border: 0px solid transparent;}
.bothSlidersAppearance::-webkit-slider-thumb:hover{ filter:drop-shadow(0px 0px 3px rgba(255,255,255,1)); }
.bothSlidersAppearance::-moz-range-thumb:hover{ filter:drop-shadow(0px 0px 3px rgba(255,255,255,1)); }
/*____1 means SLOW____*/
.speedSliderAppearance1{  /*left: 0%;*/ margin-left: auto; margin-right: auto;}
.speedSliderAppearance1::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;

}
.speedSliderAppearance1::-webkit-slider-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;

}
.speedSliderAppearance1::-webkit-slider-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}

.speedSliderAppearance1::-moz-range-thumb { /*Check if webkit settings are same with moz settings*/
  -moz-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.speedSliderAppearance1::-moz-range-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance1::-moz-range-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_1_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
/*____2 means NORMAL SPEED____*/
.speedSliderAppearance2{  /*left: 0%;*/ margin-left: auto; margin-right: auto;  }
.speedSliderAppearance2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.speedSliderAppearance2::-webkit-slider-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance2::-webkit-slider-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance2::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.speedSliderAppearance2::-moz-range-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance2::-moz-range-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_2_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
/*____3 means FAST____*/
.speedSliderAppearance3{  /*left: 0%;*/ margin-left: auto; margin-right: auto;  }
.speedSliderAppearance3::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.speedSliderAppearance3::-webkit-slider-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance3::-webkit-slider-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance3::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.speedSliderAppearance3::-moz-range-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.speedSliderAppearance3::-moz-range-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_hare_and_turtle_3_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}

/*____VOLUME SLIDER____*/
.volumeSliderAppearance{
  /*right: 0%;*/ margin-left: auto; margin-right: auto;
}
.volumeSliderAppearance::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.volumeSliderAppearance::-webkit-slider-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.volumeSliderAppearance::-webkit-slider-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.volumeSliderAppearance::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  width: 52px;
  height: 46px;
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
  cursor: grab;
}
.volumeSliderAppearance::-moz-range-thumb:hover {
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume_hover.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
.volumeSliderAppearance::-moz-range-thumb:active {
  cursor: grabbing;
  background: url("/user_interface/images/sliding_navigation_menu/slider_volume_active.webp") no-repeat; /*Relative to the css file. Not relative to the html.*/
  background-size: 52px 46px;
}
