/*--These apply to parent level (save/load) info boxes--*/
.fullViewportBackgroundForSaveLoadBoxes:hover{ cursor: url("/user_interface/images/cursor/default_cursor.png") 16 4,auto; }
.saveLoadRoundedInfoBox:hover{ cursor: url("/user_interface/images/cursor/button_cursor.png") 16 4,auto; }
.buttonsUnderSaveLoadInfo:hover{ cursor: url("/user_interface/images/cursor/glow_cursor.png") 16 4,auto; }

/* Watch the z-index of MAIN 999» See css_for_the_container_parent_html */
/* Also watch the z-index of sliding-nav-menu-with-ceramic-buttons 1111 */
/*height:100vh causes a centering problem on mobiles*/
.fullViewportBackgroundForSaveLoadBoxes{
  position: fixed; top:0; left:0; width:100%; height:100%;
  background-color: rgba(119, 215, 247, 0.6);
  mix-blend-mode: normal;
  display: flex; justify-content: center; align-items: center;
  z-index: 9999;
  animation-name: theBlueBackgroundAppears; animation-duration: 0.33s; animation-fill-mode: forwards;
}
@keyframes theBlueBackgroundAppears { 0%{opacity:0;} 100%{opacity:1} }
@keyframes theBlueBackgroundAndTheContentsDisappear { 0%{opacity:1;} 100%{opacity:0} }

.saveLoadRoundedInfoBox{
  display: flex;  justify-content: space-around;  align-items: center;  flex-direction: column;
  max-width: 600px;  min-height: 20vh;
  background-color: rgb(250, 251, 252);
  mix-blend-mode: normal;
  border-radius: 2.5vmin;
  font-size: 3.5vmin; /*On any screen whose smaller dimension is greater than 800px*/
  color: rgb(20,65,99); /*Used to be 130,155,173 until October2023*/
  margin: 5.5vmin;
  padding-left: 4vmin; padding-right: 4vmin; padding-top: 5vmin; padding-bottom: 5vmin;
  /* line-height: normal; */ /*Must be conditional and depend on the font and UI*/
  /* text-align: justify; */ /*Must use justify only in case latin fonts are used - So set it via script conditionally*/
  white-space: pre-wrap; /* pre means do not convert the line breaks into regular spaces. pre-wrap handles the overflow as well for longer lines */
  transform: translateY(-100vh);
  animation-name: theInfoBoxAppears; animation-delay: 0.44s; animation-duration: 0.55s; animation-fill-mode: forwards;
}
@keyframes theInfoBoxAppears { 0%{transform: translateY(-100vh);} 100%{transform: translateY(0vh);} }
@keyframes theInfoBoxDisappears { 0%{transform: translateY(0vh);} 100%{transform: translateY(-100vh);} }
/* IT WORKS: Trying to target phones (and tablets) and especially in vertical position to increase the font size */
@media (max-width: 800px) , (max-height: 800px) {  .saveLoadRoundedInfoBox {   font-size: 3.9vmin;  }   }
@media (max-width: 700px) , (max-height: 700px) {  .saveLoadRoundedInfoBox {   font-size: 4.3vmin;  }   }
@media (max-width: 600px) , (max-height: 600px) {  .saveLoadRoundedInfoBox {   font-size: 4.7vmin;  }   }
@media (max-width: 500px) , (max-height: 500px) {  .saveLoadRoundedInfoBox {   font-size: 5.1vmin;  }   }
@media (max-width: 400px) , (max-height: 400px) {  .saveLoadRoundedInfoBox {   font-size: 5.5vmin;  }   }
@media (orientation:landscape) and (max-width: 850px) {  .saveLoadRoundedInfoBox {   max-width: 61.8vw;   }   }


.twoButtonsSideBySide{
  display: flex;  justify-content: center;  align-items: center; flex-direction: row;
  gap:20px;
}

.buttonsUnderSaveLoadInfo{ /*fontFamily depends on needLatinFonts true false » See js_for_info_boxes_in_lessons*/
  min-width:100px;  min-height:62px;
  padding-top: 1.5vmin; padding-bottom: 1vmin; padding-left: calc(4px + 2.2vmin); padding-right: calc(4px + 2.2vmin);
  margin-top: 5vmin;
  /* background-color: rgb(154,170,182); old color used until October2023 */
  background-color: rgb(109,133,152); /*Tried 104,127,145 but better if just a tiny bit brighter*/
  border-radius: 1.5vmin;
  /* border: 3px solid rgb(124, 144, 160); old color used until October2023 */
  border: 3px solid rgb(65, 92, 116); /*Tried 62,88,111 but better if just a tiny bit brighter*/
  color: white;
  display: flex;  justify-content: center;  align-items: center;
  text-shadow: none;
  transform: scale(1);
  transition: transform 0.1s, background-color 0.6s, border-color 0.6s;
  line-height: normal;
}
.buttonsUnderSaveLoadInfo:hover{
  /* background-color: rgb(93,114,137); old color used until October2023 */
  background-color: rgb(74,102,124);
  /* border: 3px solid rgb(73, 94, 110); old color used until October2023 */
  border: 3px solid rgb(25, 54, 84);
}
.buttonsUnderSaveLoadInfo:active{
  transform: scale(0.85);
}

.theAppIsPausedBoxFiftyFiftyCentered{
  z-index: 4004; /*darkenTheWholeViewportClass is 4000 in css_for_the_container_parent_html*/
  position: fixed; left:50%; top:50%; transform: translate(-50%,-50%); margin: 0px;
  display: flex;  justify-content: space-around;  align-items: center;  flex-direction: column;
  max-width: 600px;  min-height: 20vh;
  background-color: rgb(250, 251, 252);
  mix-blend-mode: normal;
  border-radius: 2.5vmin;
  font-size: 4vmin;
  color: rgb(130,155,173); /*In October2023 we've changed other elements' 130,155,173 color to 20,65,99 BUT we let this one stay the same*/
  padding-left: 4vmin; padding-right: 4vmin; padding-top: 5vmin; padding-bottom: 5vmin;
  white-space: pre-wrap; /* pre means do not convert the line breaks into regular spaces. pre-wrap handles the overflow as well for longer lines */
  cursor: url("/user_interface/images/cursor/default_cursor.png") 16 4,auto;
}
