body{ /*Also see css_for_every_single_html.css*/
  color: #34546d; /*???*/
  overflow:hidden;  /*This is necessary for information/index.html to be viewed properly on mobiles. (Used to be inline style)*/
  max-width:100vw;  /*This is necessary for information/index.html to be viewed properly on mobiles. (Used to be inline style)*/
  max-height:100vh; /*This is necessary for information/index.html to be viewed properly on mobiles. (Used to be inline style)*/
  /*background-color: black;*/ /*This was necessary because when HOME button is used to change iframe src this [body background] showed for a few milliseconds*/
  /*Is it still the case after the addition of orbiting circles animation???*/
  /*Anyhow let's make it same with main - check what happens when balance scale button is clicked before choosing a study-language*/
  background-image: linear-gradient(#becbd5, #dbe2e8);
  /* The background color here is not related to the black fullscreen bugginess */
  /* Main background color of the app is #adbbc4 */
}

iframe{
  border: none;
  width: 100%; /*  100vw is OK  */
  height: 100%; /*  100vh is NOT OK because on mobiles 100vh means all screen height with the adress bar so it works only when the view is in fullscreen  */
  position: fixed;
  top: 0;        left: 0;        /*bottom:0;        right:0;*/
}

p{
  line-height: normal; /*Set it back to normal because it was set to ZERO in css_for_every_single_html.css*/
  text-shadow: 0px -0.5vmin 0.8vmin rgba(123,145,158,0.45), 0px -0.2vmin 0.4vmin rgba(123,145,158,0.65);
  letter-spacing: 1px;
  padding-left:7px;
  padding-right:7px;
}
/*select the language you want to learn BUTTONS*/
button{
  border: .25vmin solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 1.8vmin; /*Space between two buttons*/
  background-color: #4d606f;
  color: white;
  transition-duration: 0.06s; /*Is this for hover?*/
}
button:hover{
  color: #7790a5;
  background-color: #e4f6fc;
  text-shadow: 0px 0px 3px white;
  box-shadow: 0px 0px 6px white;
  border: .25vmin solid #def6fc;
}
button:focus {outline:0;}

/*All aside elements are used as just another type of button*/
/*These will apply to parent level ASIDEs only,,, NOT THE LESSON-iFrame LEVEL*/
aside{ /*BUTTON: I will consider joining the crowdfunding*/
  border: .25vmin solid white;
  border-radius: 5px;
  min-width: 85vmin;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0.5vmin; /*Space between two buttons*/
  background-color: #4d606f;
  color: white;
  transition-duration: 0.06s;
}
aside:hover{
  background-color: black;
}
aside:focus {outline:0;} /*BUTTON: I will consider joining the crowdfunding*/
@media (max-width: 600px) { aside { font-size: 3.7vmin; } }
@media (max-width: 500px) { aside { font-size: 3.9vmin; } }
@media (max-width: 400px) { aside { font-size: 4.1vmin; } } /* A Samsung Mobile phone has 412 px width in portrait mode*/

main{ /*This used to be #fullViewportPositionFixedDivAsContainerOfTheMenu */
  /*May create a new div inside this div with display:grid; to contain all the buttons. In fact, something like a fancy interactible world map would be cooler.*/
  position: fixed;
  top:0; left:0; /*The "left" value is to be changed via script to hide this div. See js_reusables/js_for_all_container_parent_htmls.js*/
  /*bottom:0; right:0;*/ /*Change to 100vw 100vh if any problem occurs*/
  width:100vw; height: 100vh; /*Didn't observe a problem but this way feels safer*/
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  z-index: 999; /* Preloader is 9999 */
  background-image: linear-gradient(#becbd5, #dbe2e8);
  line-height: 2rem; /*Is set to zero by default. See css_for_every_single_html*/
  /* mix-blend-mode: normal; */
  overflow: hidden;
  /* border: 2px dotted black; */
}

header{ /*Choose the language you want to learn*/
  display: flex; flex-direction: column; justify-content: center; align-items: center;
  padding-top: 14px; /* On phones the 2in1 button is too close so try to move the "Choose the language" title further down */
  padding-left: 15px; padding-right: 15px;
  /* border: 2px dotted red; */
  font-size: 27px;
}

.chooseLanguageButtonsContainer{
  background-color: rgba(77, 96, 111, 0.05);
  border-radius: 8px;
  /* display: grid; */
  width: 90vw;
  /* border: 2px dotted green; */
  overflow-x: hidden; overflow-y: auto;
}
@media screen and (orientation:portrait){
header{margin-top:-8vmin;}
button{min-width: 60vmin;}
.chooseLanguageButtonsContainer{height: 70vmin;/*width: 100%; height: 80%; flex-direction: column; justify-content: flex-start;  align-items: center;*/ }
  .theSmallNavigationMenuMOBILEStyling img{margin-left: 1vmin;  margin-right: 1vmin;}
}

@media screen and (orientation:landscape){
header{margin-top:0vmin;}
button{min-width: 45vmin;}
.chooseLanguageButtonsContainer{height: 50vmin;/*width: 100%; height: 60%; flex-direction: row-reverse;  justify-content: center;  align-items: flex-start; flex-wrap: wrap;*/}
  .theSmallNavigationMenuMOBILEStyling img{margin-left: 5vmin;  margin-right: 5vmin;}
}

footer{ /* Contains INSTALL THE APP - GET NOTIFICATIONS button */
  position: fixed;
  left:50vw; transform: translateX(-50%) scale(1);
  background-color: white; border-radius: 8px;
  color: #b0cdd1; font-weight: 400;
  padding: 10px;
  border: 2px solid #ebf2fa;
  transition: transform .3s, opacity .25s, margin-top 1s; /*use margin-top when using top, margin-bottom when using bottom*/
  font-size: 19px;
}
footer:hover{   transform: translateX(-50%) scale(1.02); }
footer:active{  transform: translateX(-50%) scale(0.98); }
.footerGetLost{ transform: translateX(-50%) scale(0.0001); opacity: 0; }/* In notify_**.js add when notification is accepted or in js_for_pwa if installation was accepted but notification isn't supported*/

.footerDesktop{ top:100vh; }
.footerDesktop div{display: flex; align-items: center; justify-content: center; min-width:240px; height: 100px;}
.footerDesktop img{ height: 100px; }
.footerDesktop p{ text-shadow: none; min-width: 150px; }
.footerSlideAppearDesktop{margin-top:-19.7vh;}

/*See js_for_pwa.js*/
.footerTabletAndPhone{ top:-120px; }
.footerTabletAndPhone div{ display: flex; align-items: center; justify-content: center; max-width:90vmin; height: 72px; }
.footerTabletAndPhone img{ height: 70px; }
.footerTabletAndPhone p{ text-shadow: none; min-width: 190px; line-height: 23px; }
@media (orientation: landscape) {  .footerTabletAndPhone {    display: none;   }   }
@media (orientation: portrait)  {  .footerTabletAndPhone {    display: block;  }   }
.footerSlideAppearMobile{margin-top:133px;}

/**/
.youMustAllowMicrophone{
  z-index: 1000; /*main is 999*/
  position: fixed; min-width:330px; max-width:100vmin; height:80px; top:-100px; left:50vw; transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
  background-color: white; border: 2px solid #ebf2fa;
  font-size: 19px; color: #b0cdd1; font-weight: bold;
  display: flex; justify-content: center;  align-items: center; padding: 10px;
  animation-name: flashBlink; animation-duration: .6s; animation-iteration-count: infinite; animation-direction: alternate;
  transition: margin-top 1.5s; transition-timing-function: ease;
}
.letYouMustAllowMicrophoneDialogAppear{margin-top:100px;}
.letYouMustAllowMicrophoneDialogDisappear{margin-top:0px;}
@keyframes flashBlink {  0%{ filter: contrast(1); } 45%{ filter: contrast(1); } 55%{ filter: contrast(1.25); } 100%{ filter: contrast(1.25); }  }

/*__*/
.promptBoxInParent{ /* Will you buy us... Vakfımız bu uygulamanın... このアプリは無料... */
  min-width: 20%;  min-height: 10%;  max-width: 95vw;  /*For phones*/
  background-color: white;  color: rgb(36,41,46);  border-radius: 2vmin;
  display: flex;  flex-direction: column;  justify-content:  center;  align-items: center;
  padding: 3vmin;
  box-shadow: 0 -13px 29px -12px rgba(67,80,89,0.3), 0 -3px 19px -9px rgba(67,80,89,0.4), 0 -8px 18px -15px rgba(67,80,89,0.5), 0 13px 8px -16px rgba(67,80,89,1);
}

.getSmallOnPhones{  font-size: 100%;  } /* Will you buy us... Vakfımız bu uygulamanın... このアプリは無料... */
@media screen and (max-width: 600px) {
  .getSmallOnPhones{  font-size: 80%;  }
}

/* NAV MENU */
/* Home button loads the progress chart into the iFrame */
/* REMEMBER: There must be duplicates of these in progress.css*/
.everyThingFadesToBlack{animation-name: toBlack; animation-duration: 0.7s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes toBlack {    0%{ filter: brightness(1);} 100%{ filter: brightness(0.05);}  }
.everyThingComesFromBlack{animation-name: fromBlack; animation-duration: 0.7s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes fromBlack {  0%{ filter: brightness(0.05);} 100%{ filter: brightness(1);}  }
/* When user clicks HOME button while already viewing progress chart */
.flashBordersWithInsetWhiteBoxShadow{
  position: fixed; left: 0; top: 0; width: 100vw; height: 100vh; pointer-events: none;
  animation-name: flashBorders; animation-duration: 0.25s; animation-iteration-count: 4; animation-fill-mode: forwards;
  box-shadow:0px 0px 200px 30px #dceff8 inset;
  background-color: rgba(255, 255, 255, 0.07);
}
@keyframes flashBorders {  0%{    opacity: 1;  }  45%{   opacity: 1;  }  55%{   opacity: 0;  }  100%{  opacity: 0;  }  }


/* _Glassmorphist background blur used for PLEASE DISCLOSE YOUR GENDER_ */
.darkenTheWholeViewportClass{ /*Used by letTheIFrameTeachArabic() in js_for_all_container_parent_htmls*/
  position: fixed;
  z-index: 1001; /*Sliding navigation menu's z-index is 1100~1111*/
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(66, 91, 110, 0.7);
  mix-blend-mode: multiply;
  animation-name: fadeInAndBeClickable;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  backdrop-filter: blur( 8px );                 /*------ Not supported by Firefox in 2021*/
  -webkit-backdrop-filter: blur( 8px );         /*------ Not supported by Firefox in 2021*/
}
.gentlemenAndLadiesButtonClass{
  box-shadow: 0px 0px 8px 0px white, 0px 0px 3px 0px white;
  position: fixed;
  background-color: white;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transition: all .3s;
  z-index: 9990;
}
.gentlemenButtonClass{
  transform: translate(-50%,-109%) scale(1);
  animation-name: gentlemenSlideAnimation;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.gentlemenButtonClass:hover{
  transform: translate(-50%,-109%) scale(1.05);
}
.ladiesButtonClass{
  transform: translate(-50%,9%) scale(1);
  animation-name: ladiesSlideAnimation;
  animation-duration: 1.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.ladiesButtonClass:hover{
  transform: translate(-50%,9%) scale(1.05);
}
@keyframes gentlemenSlideAnimation {
  0%{ top: -50%; }
  10%{ top: -50%; }
  100%{ top: 50%; }
}
@keyframes ladiesSlideAnimation {
  0%{ top: 150%; }
  10%{ top: 150%; }
  100%{ top: 50%; }
}
.bringGenderButtonToVerticalCenter{top: 50%; transform: translate(-50%,-50%) scale(1.15);}
.fadeGenderButtonToZeroOpacity{opacity:0;}
