/*Initial style rules for preload divs are placed inline within the htmls and/or set via script*/
*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*With the star selector every div is selected. Divs don't inherit this from body if we set it like body{ box-sizing: border-box; } */
}

body{
  line-height: 0px; /*necessary to remove the unwanted space below objects*/
  /*disable highlighting text for a modern game feel*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Safari */
  -khtml-user-select: none;    /* Konqueror HTML */
  -moz-user-select: none;      /* Old versions of Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  /**/
  text-align: center; /*Necessary! Flexboxes center the containers and not the text itself.*/ /*Divs seem to inherit this automatically. Must handle if some element doesn't inherit this rule automatically.*/
  /* Also see css_for_custom_cursor.css */
}


/*Note that buttons are different at parent level and iframe level. See js_for_all_container_parent_htmls AND js_for_all_iframed_lesson_htmls*/
/*Note that the ASIDE tag is used as a second type of standard button again differently in parents and iframes*/
img{
  /*pointer-events: none;*/ /*This makes Firefox on mobile go crazy with touch events! Set it to none only when necessary and only locally in a given lesson's css*/
}
/*See js_for_every_single_html.js for fonts*/
/*Cannot use @import because frame html does not inherit fonts from parent html. So we have done it via script.*/


/*SHOULD THIS (i.e. the preloader's stuff) BE MOVED TO css_for_all_container_parent_htmls???*/
/*Preloader - Appear & Disappear*/
.addThisClassToHideThePreloader{ /*Called from js_for_preload_handling.js AS WELL AS some other js files too*/
  animation: fadeOutAndBeGone 0.5s;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAndBeGone {
  0%{    opacity: 1;    visibility: visible;  }
  100%{  opacity: 0;    visibility: hidden;   }
}
.addThisClassToRevealThePreloader{ /*Do a "Find in project" search to see exactly where this is used*/
  animation: appearByFadingIn 1.5s;
  animation-fill-mode: forwards;
}
@keyframes appearByFadingIn {
  0%{    opacity: 0;    visibility: hidden;   }
  100%{  opacity: 1;    visibility: visible;  }
}

/*__________*/
/*RIGHT CLICK - FULLSCREEN*/
.rightClickMenuWithWebpsInside{
  position: fixed;
  z-index: 99999;
  /*top:50%;*/
  left:50%; /*This for mobile only in case the script allows the user to be able to touch and hold on the screen to open the context menu*/
  transform: translateX(-50%); /*This has effect on desktops too*/
  border-radius: 15px;
  box-shadow: 0px -3px 3px rgba(0,0,0,0.1);
  filter: contrast(91%);
}

.rightClickMenuWithWebpsInside:hover{
  cursor: row-resize;
  filter: contrast(108%);
  box-shadow: 0px -3px 3px rgba(0,0,0,0.1);
}

/*___________*/
.addThisToAButtonForPlayStationStyleClick{ /* See js_for_all_iframed_lesson_htmls.js */
  animation: playStationStyle 0.6s;
  animation-fill-mode: forwards;
}

@keyframes playStationStyle {
  0%{
    opacity: 1;
    transform: scale(1.05);
  }
  25%{
    opacity: 1;
    transform: scale(1.1);
  }
  100%{
    opacity: 0;
    transform: scale(0.1);
    visibility: hidden; /*Not sure if we need display none instead of visibility hidden. Looks like it's working anyway.*/
  }
}
