/* Buttons use same rules for all devices. REMEMBER: Glassmorphism needs different rules for different devices */
/* Width and height of the boxes come from font-size plus padding */


/* SECTION element is turned into a button */
/* See js_for_every_single_html to find how fonts are assigned dynamically */
section { pointer-events: all;
  display: flex; justify-content: center;  align-items: center; flex-direction: row;
  margin: calc(3px + 2vmin);
  padding: calc(2px + 1vmin);
  border: 3px solid rgba(255,255,255,0.5);
  color: white;
  border-radius: calc(4px + 1vmin);
  font-size: calc(12px + 2vmin);
  white-space: pre; line-height: normal;
  transform: scale(1);
  background-color: rgba(255, 255, 255, 0.22);
  background-image: linear-gradient(180deg, rgba(142, 221, 225, 0.22), rgba(123, 200, 204, 0.22));
  box-shadow: 0px 2px 4px rgba(65, 92, 116, 0.08), 0px 4px 8px rgba(109, 133, 152, 0.08);
  transition: transform 0.2s, background-color 1.4s, box-shadow 0.2s; /* Transition doesn't work for background-image */
}

/*PROBLEM: Hover on touchscreen lesson 1-3-4 » hover state cannot end with touchend » so the hover rules stay even after finger is lifted*/
/*SOLUTION:*/
/*April 2024: Lets try the new media query and see if prevents faulty hover simulation on mobiles and lets desktops be » AND YES it works (tested on Android) */
@media (hover: hover) {
  section:hover {
    cursor: url("/user_interface/images/cursor/glow_cursor.png") 16 4,auto;
    transform: scale(1.05); /*Just a tiny bit bigger than idle size*/
    background-color: rgba(255, 255, 255, 0.55);
    background-image: linear-gradient(180deg, rgba(142, 221, 225, 0.55), rgba(123, 200, 204, 0.55));
    box-shadow: 0px 2px 4px rgba(65, 92, 116, 0.16), 0px 4px 8px rgba(109, 133, 152, 0.16);
  }
  section:active {
    transform: scale(0.80);
    background-image: linear-gradient(180deg, rgba(142, 221, 225, 0.99), rgba(123, 200, 204, 0.99));
  }
}
/*See js_for_proceed_buttons*/
.sectionTouchstart{transform: scale(1.10); background-color: rgba(255, 255, 255, 0.90);}
/* .sectionTouchend{} » Just remove sectionTouchstart instead of adding another class */

/*Should we try to select any and every child element within all <section> elements?*/
/* section > * {    pointer-events: none;    } */
/*Or is this enough?*/
section p {    pointer-events: none;    }
section img {    pointer-events: none;    }


/*UNCERTAIN: Can section elements have focus???*/
section:focus {outline:0;}
/*See css_for_every_single_html about playstation style click animation*/




/* ADDRESS element is turned into the button for [See how you can help] in we_are_working_for_new_levels */
/* See js_for_every_single_html to find how fonts are assigned dynamically */
address { pointer-events: all;
  border-radius: 5px;
  padding: 10px;
  margin: 7px; /*Space between two buttons AS WELL AS drop-shadow area around the button*/
  border: 3px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background-color: #57d6d0;
  font-size: 25px;/* 3.5vmin is good on desktop but too small for mobile. Better be at least 5.5vmin on phone.*/
  transition: all 0.1s;
  white-space: pre; line-height: normal;
}
/*Check above for the prevention of faulty hover simulation on touchscreens|mobiles IF NEED BE*/
address:hover {
  border: 3px solid #30d9cf;
  /* color: #ffffff; It's the same white*/
  background-color: #22b3a7;
  transform: scale(1.05); /*Just a tiny bit bigger than idle size*/
  text-shadow: 0px 0px 2px white, 0px 0px 2px #36f4e9;
  box-shadow: 0px 0px 6px white, 0px 0px 4px #36f4e9, 0px 0px 2px #36f4e9;
  cursor: url("/user_interface/images/cursor/default_cursor.png") 16 4,auto;
}
address:active {
  background-color: #30d9cf;
}
/*UNCERTAIN: Can address elements have focus???*/
address:focus {outline:0;}
