/* These are not set via script with if conditions.*/
/* Simply, a parent html like index.html, ja.html or tr.html will take its rules from here or an alternative as whichever is linked with rel stylesheet */
body{ /*Also see css_for_every_single_html.css*/
  /*font-size must depend on both device type and the font used in the user interface language*/
}

button{
  /*font-size must depend on both device type and the font used in the user interface language*/
  font-weight: bold;
}

/*DESKTOPS*/
@media (min-width:1024px) {
  body{font-size: 40px;}
  p{letter-spacing: 1.5vmin;}
  button{font-size: 30px; letter-spacing: 1vmin;}
}
/*TABLETS or medium sized screens*/
@media (min-width: 481px) and (max-width:1023px) {
  body{font-size: 6vmin;}
  p{letter-spacing: 1.25vmin;}
  button{font-size: 4.5vmin; letter-spacing: 0.25vmin;}
}
/*PHONES or small screens*/
@media (max-width: 480px){
  body{font-size: 7vmin;}
  p{letter-spacing: 1vmin;}
  button{font-size: 5.5vmin; letter-spacing: 0.5vmin;}
}

.promptBoxInParent{
  font-size: 24px;
}
