.containerOfBilingualLongButton{
  position:fixed; z-index:2; left: 50%; transform: translateX(-50%) translateY(50%);
  bottom:26vmin;
  display: flex; justify-content: center; align-items: stretch;
}
.bilingualLongButton{
  color:white; background-color:#bcc9d3;
  display: flex; flex-direction: column; justify-content: center;
  position: relative;
  padding: 5px;
  border: 1px solid #9daebd;
  cursor: url('/user_interface/images/cursor/button_cursor_00.png') 16 6,auto;
  animation: hoverCursor 1.85s infinite;
  animation-direction: alternate;
  font-size: 18px; overflow: hidden;
  width: 50%; /*VALUES ARE FOR EACH ONE OF THE TWO,,, Like 45x2=90 in total*/
}
@media (orientation:portrait) {
  .containerOfBilingualLongButton{width: 90vw;}
  @media (max-width: 799px) { .bilingualLongButton{font-size: 17px;} .containerOfBilingualLongButton{bottom:28vmin;} }
  @media (max-width: 599px) { .bilingualLongButton{font-size: 15px;} .containerOfBilingualLongButton{bottom:32vmin;} }
}
@media (orientation:landscape) {
  .containerOfBilingualLongButton{width: 70vw;}
  @media (max-height: 799px) { .bilingualLongButton{font-size: 17px;} .containerOfBilingualLongButton{bottom:28vmin;} }
  @media (max-height: 599px) { .bilingualLongButton{font-size: 15px;} .containerOfBilingualLongButton{bottom:32vmin;} }
}

.leftHalf{
  border-radius:10px 0px 0px 10px; text-align: right;
}
.rightHalf{
  border-radius:0px 10px 10px 0px; text-align: left;
}

.bilingualLongButtonMouseEnter{
  background-color:#9daebd;
  border: 1px solid #8b9eaf;
}
