nav:hover{ cursor: url("/user_interface/images/cursor/default_cursor.png") 16 4,auto; }

/*See css_for_sliding_navigation_menu » height: calc(22vmin + 48px)*/
.allLevelsInTheAppContainer{
  position: fixed; left: 0px; top: 0px; width:100vw; width:100dvw;
  /*Do not use full height » Leave space to avoid getting blocked by the sliding-nav-menu*/
  height: calc(100% - 22vmin); /*Use calc instead of ~80vmin to handle both portrait and landscape*/
  /*Probably useless in this case» flex-shrink: 0;*/
  display: flex;  /*Use row-reverse for RTL languages*/
	align-items: center; /*The middle of the space left after subtracting an amount for the sliding-nav-menu*/
  overflow-x: hidden;
  overflow-y: auto; /* THIS IS NECESSARY WHEN progress_chart is viewed on a small phone in landscape mode */
}
@supports (height: 100dvh) {  .allLevelsInTheAppContainer{height: calc(100dvh - 22vmin);}  }

.allLevelsInTheAppContainerDESKTOP{ margin-top: 3vmin; } /*Anything taller than 700px*/
@media screen and (max-height: 700px) { .allLevelsInTheAppContainerDESKTOP{ margin-top: 4vmin; } }
@media screen and (max-height: 650px) { .allLevelsInTheAppContainerDESKTOP{ margin-top: 5vmin; } }
@media screen and (max-height: 600px) { .allLevelsInTheAppContainerDESKTOP{ margin-top: 6vmin; } }

.flexDirectionForLTR{flex-direction: row; justify-content: left; /*Like left:0*/} /*See DOMContentLoaded*/
.flexDirectionForRTL{flex-direction: row-reverse; justify-content: right; /*Like right:0*/} /*See DOMContentLoaded*/

/* EACH SWIPEABLE SCREEN */
.allUnitsInALevelContainer{
  /*Contained by allLevelsInTheAppContainer*/
  /*Contains the 3 units of a level [12 lessons (4x3)]*/
  /*When the container is too small flex stops respecting 100vw and shrinks the div until no more emptiness remains in it*/
  /* » So we force flex to respect 100vw by setting flex-shrink to 0*/
  flex-shrink: 0;
  /*!important doesn't do anything here except the fact that it warns the developer by indicating that something is indeed important*/
  /*Chrome 107 and earlier don't support dvw » We can handle that without using @supports by attempting to overwrite the first value, like this*/
  width:100vw !important; width:100dvw !important;
  display: flex; flex-direction: column; align-items: center; justify-content: center;
  color: white; /* text color,,, in case text is added */
  /* DEPRECATED gap: 1.5%; */
  transform: translateX(0vw);
  transition: transform 1s ease-in-out;
}
@supports (height: 100dvw) {  .allUnitsInALevelContainer{transform: translateX(0dvw);}  }

/*
@media (orientation:landscape){

}
@media (orientation:portrait){

}
*/

.allLessonsInAUnitContainer{
  min-width:80px; min-height: 80px;
  background-color: #bcc9d3;
  border-radius: 12px;
  display: flex; justify-content: center; align-items: center;
  margin-top: 0.46vmin; margin-bottom: 0.46vmin;
}


.oneParticularLesson{
  width:70px; height: 70px;
  margin: 1.5vmin;
  border-radius: 7px;
  background-color: white;
  display: flex; justify-content: center;  align-items: center;
  transition: all 0.17s;
  box-shadow: 0 1px 3px rgba(142,178,204,0.16), 0 1px 2px rgba(93,143,181,0.32);
  border: 10px solid #f3f3f3; /*Close to WhiteSmoke*/
}
.oneParticularLesson img{
  width:60px; height: 60px; pointer-events: none;
}
.oneParticularLesson:hover{
  transform: scale(1.08);
  box-shadow: 0 1px 5px rgba(220,239,248,0.16), 0 1px 4px rgba(93,143,181,0.32);
}
.oneParticularLesson:active{
  transform: scale(0.8);
}

.thisLessonHasBeenViewedButNotCompleted{
  border: 10px solid #ffffe4; /*Close to Ivory*/
}

.thisLessonHasBeenCompleted{
  border: 10px solid #e4ffe4; /*Close to Honeydew*/
}

.eachWebp{
  width:100%;
  border-radius: 4px;
  border: 6px solid white;
  pointer-events: none;
}
