.moveTheClouds{ margin-right: -3333px; }

#divIdForFlyingCloudsContainer{
  pointer-events: none;
  position:fixed;
  z-index: 97; /*Under preloader*/
  right:0;
  transition-property: margin-right;
  transition-duration: 600s;
  transition-timing-function: linear;

  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  top:0;
  bottom:0;
  left:0;
  align-items: flex-end;
  justify-content: flex-start;
  mix-blend-mode: lighten;
}
#divIdForFlyingCloudsContainer img{
  height: 77vmin;
}

#divIdForShadowsOfCloudsContainer{
  pointer-events: none;
  position:fixed;
  z-index: 96; /*Under preloader*/
  right:0;
  transition-property: margin-right;
  transition-duration: 600s;
  transition-timing-function: linear;

  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  top:0;
  bottom:0;
  left:0;
  align-items: flex-end;
  justify-content: flex-start;

  mix-blend-mode: multiply;
  opacity: 0.8;
}
#divIdForShadowsOfCloudsContainer img{
  height: 77vmin;
}

@media (orientation: portrait) {
  #divIdForFlyingCloudsContainer{
    justify-content: center;
    margin-top: -10px;
  }
  #divIdForShadowsOfCloudsContainer{
    justify-content: center;
    opacity: 0;
  }
}

#divIdForBallPlayAnimationContainer{
  pointer-events: none;
  position:fixed;
  z-index: 98; /*Under or over the clouds*/
  right:0;
  top:0;
  bottom:0;
  left:0;
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 2s;
}

.ballPlayersRopeJumpersEtcFade{visibility: hidden; opacity: 0; display: none;}
.ballPlayersRopeJumpersEtcFadeInToFullOpacity{visibility: visible; opacity: 1; display: block;}

#divIdForBallPlayAnimationContainer img{
  max-width: 100vw;
  height: 100vmin;
  object-fit: scale-down;
}
