a:link, a:visited{color: white; text-decoration: none; text-shadow: 0px 0px 1px white;}
a:hover{text-decoration: underline;}
a:active{transform: scale(1.2);}

a.openAboutPageAnchor:link, a.openAboutPageAnchor:visited{color: white; text-decoration: none;}
a.openAboutPageAnchor:hover{text-decoration: none;}
a.openAboutPageAnchor:active{}
.letterSpacingAnimation{letter-spacing: 0.8px; transition: all 1.8s ease-out}
.letterSpacingAnimation:hover{letter-spacing: 4px;}

/*Kanit font is loaded via "about.js"*/
.patua{font-family: 'patua', 'Titillium Web Light', sans-serif; font-size: 2.25vh;} /*Patua is loaded by "js_for_every_single_html.js"*/

/* width */
::-webkit-scrollbar {
  width: 6px;
  background: rgba(82,110,133,0.06);
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(82,110,133,0.3);
  border-radius: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  width: 8px;
  background: rgba(82,110,133,0.4);
  border-radius: 3px;
  box-shadow: inset 0 0 2px rgba(229,245,255,0.95);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}
.niceFadeInFastForAboutScreen{animation-name: niceFadeInFast; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes niceFadeInFast {
  0%{opacity:0.05;}
100%{opacity:1;}
}

.explainer{
  color: #526e85;
  text-shadow:none;
  font-family:'kanit', sans-serif; /*Kanit font is loaded via "about.js"*/
  font-size:115%;
  max-width:95vmin;
  margin-top:6vh;
}
.linksContainer{
  background-color: rgba(191,220,238,0.5);
  border: 2px solid rgba(255,255,255,0.5);
  border-radius:10px;
  padding:20px;
  max-width:62vmin;
  margin-top:2vh;
}
@media (max-width: 440px) {
  .linksContainer{max-width:85vmin;}
}
@media (max-width: 380px) {
  .linksContainer{max-width:90vmin;}
}
