.photoContainerOnDesktops{position: fixed; left: 50vw; top:3vh; transform: translate(-50%,0vh); min-height: 44vh; overflow:hidden; }
.photoWebpOnDesktops{height: 44vh; width: 44vh; }
.authorsNameOnDesktops{font-size: 2.2vh; line-height: 3vh; font-weight: bold; padding-bottom: 12px;}
.authorsNameOnTablets{font-size: 3vmin; line-height: 4vmin; font-weight: bold; padding-bottom: 9px;}
.authorsNameOnPhones{font-size: 3.7vmin; line-height: 4.4vmin; font-weight: bold; padding-bottom: 7px;}
@media (orientation: portrait) {
  .photoContainerOnTablets{position: fixed; left: 50vw; top:2.15vh; transform: translate(-50%,0%); min-height: 42vh; overflow:hidden; }
  .photoWebpOnTablets{height: 42vh; width: 42vh; }
  .monthlyButtonOnTablets{position:fixed; left:50vw; transform: translate(-50%,0%); top:53.4vh; min-width:85vw; min-height:3vh; max-width:90vw; margin:0px; padding:.8vmin;}
  .onetimeButtonOnTablets{position:fixed; left:50vw; transform: translate(-50%,0%); top:63vh; min-width:85vw; min-height:3vh; max-width:90vw; margin:0px; padding:.8vmin;}
  .bigNavigationArrowToViewLicenseOnTabletsPosition{position:fixed; left:50vw; transform: translate(-50%,0%); top:79.1vh;}
  .bigNavigationArrowToViewLicenseOnTabletsSize{width:35vh;}
  .bigNavigationArrowToViewLicenseOnTabletsFontSize{font-size: 2.2vh; width: 34vh;}
  .bigNavigationReturnArrowOnTablets{top:79vh;}
  .financeFontSizeOnTablets{font-size:2.1vh;}
  .infoAboutNameOfLicenseOnTablets{position:fixed; left:50vw; transform: translateX(-50%); top:71.3vh; mix-blend-mode:normal; width:90vw;}
  .licenseItselfOnTablets{position:fixed; top:5vmin; left:50vw; transform: translate(-50%,0%); min-width:200px; min-height:150px; max-height:75vh;}

  .photoContainerOnPhones{position: fixed; left: 50vw; top:2.15vh; transform: translate(-50%,0%); min-height: 40vh; overflow:hidden; }
  .photoWebpOnPhones{height: 40vh; width: 40vh; }
  .financeFontSizeOnPhones{font-size:14px;}
  .monthlyButtonOnPhones{position:fixed; left:50vw; transform: translate(-50%,0%); top:53vh; min-width:94vw; min-height:2.5vh; max-width:95vw; margin:0px; padding:.7vmin;}
  .onetimeButtonOnPhones{position:fixed; left:50vw; transform: translate(-50%,0%); top:62vh; min-width:94vw; min-height:2.5vh; max-width:95vw; margin:0px; padding:.7vmin;}
  .infoAboutNameOfLicenseOnPhones{position:fixed; left:50vw; transform: translateX(-50%); top:66vh; mix-blend-mode:normal; width:99vw;}
  .bigNavigationArrowToViewLicenseOnPhonesPosition{position:fixed; left:50vw; transform: translate(-50%,-10%) scale(0.7); top:76vh;}
  .bigNavigationReturnArrowOnPhones{top:79.8vh; position:fixed; left:50vw; transform: translateX(-50%) scale(0.7);}
  .licenseItselfOnPhones{position:fixed; top:5vmin; left:50vw; transform: translate(-50%,0%); min-width:100px; min-height:70px; max-height:77vh;}
  /*VERY TALL SCREENS*/
  @media (max-aspect-ratio: 13/20){
    .monthlyButtonOnPhones{transform: translate(-50%,15%);}
    .monthlyButtonOnTablets{transform: translate(-50%,15%);}
  }
}
@media (orientation: landscape) {
  .photoContainerOnTablets{position: fixed; left: 3vw; top:5vh; transform: translate(0%,0%); min-height: 62vmin; overflow:hidden;}
  .photoWebpOnTablets{height: 62vmin; width: 62vmin; }
  .monthlyButtonOnTablets{position:fixed; right:4vw; transform: translate(0%,0%); top:5.5vh; min-width:53vw; min-height:3vh; max-width:55vw; margin:0px; padding:.8vmin;}
  .onetimeButtonOnTablets{position:fixed; right:4vw; transform: translate(0%,0%); top:25vh; min-width:53vw; min-height:3vh; max-width:55vw; margin:0px; padding:.8vmin;}
  .bigNavigationArrowToViewLicenseOnTabletsPosition{position:fixed; right:15vw; transform: translate(0%,0%); top:60vh;}
  .bigNavigationArrowToViewLicenseOnTabletsSize{width:55vh;}
  .bigNavigationArrowToViewLicenseOnTabletsFontSize{font-size: 3.5vh; width: 54vh;}
  .bigNavigationReturnArrowOnTablets{top:66vh;}
  .financeFontSizeOnTablets{font-size:4vh;}
  .infoAboutNameOfLicenseOnTablets{position:fixed; right:4vw; transform: translateX(0%); top:44vh; mix-blend-mode:normal; min-width:53vw; max-width:55vw}
  .licenseItselfOnTablets{position:fixed; top:5vmin; left:50vw; transform: translate(-50%,0%); min-width:200px; min-height:150px; max-height:59vh;}

  .photoContainerOnPhones{position: fixed; left: 2.4vw; top:5vh; transform: translate(0%,0%); min-height: 64vmin; overflow:hidden;}
  .photoWebpOnPhones{height: 64vmin; width: 64vmin; }
  .financeFontSizeOnPhones{font-size:14px;}
  .monthlyButtonOnPhones{position:fixed; right:2.2vw; transform: translate(0%,0%); top:15vh; min-width:57vw; min-height:2.5vh; max-width:52vw; margin:0px; padding:.8vmin;}
  .onetimeButtonOnPhones{position:fixed; right:2.2vw; transform: translate(0%,0%); top:25vh; min-width:57vw; min-height:2.5vh; max-width:52vw; margin:0px; padding:.8vmin;}
  .infoAboutNameOfLicenseOnPhones{position:fixed; right:3.5vw; transform: translateX(0%); top:40vh; mix-blend-mode:normal; width:53vw;}
  .bigNavigationArrowToViewLicenseOnPhonesPosition{position:fixed; right:14.7vw; transform: translate(0%,0%) scale(1); top:59vh;}
  .bigNavigationReturnArrowOnPhones{top:66vh; position:fixed; left:50vw; transform: translateX(-50%) scale(1);}
  .licenseItselfOnPhones{position:fixed; top:5vmin; left:50vw; transform: translate(-50%,0%); min-width:100px; min-height:70px; max-height:58vh;}
}
.animateZoomPhoto{animation-name: zoomInVerySlowly; animation-delay: 1s; animation-duration: 7s; animation-fill-mode: forwards;}
@keyframes zoomInVerySlowly {
  from {transform: translateY(0%) scale(1) ;}
  to {transform: translateY(7%) scale(1.2);}
}

.hoverableAndClickableChoice{background-color: #4d606f; color: white; margin:0px; padding:6px; border-radius:10px; border: .3vmin solid #8c9ca8; cursor:pointer;}
.hoverableAndClickableChoice:hover{background-color: #e4f6fc; color:#7790a5; text-shadow: 0px 0px 3px white; box-shadow: 0px 0px 6px white; border: .3vmin solid white;}
.hoverableAndClickableChoice:active{background-color: #ffffff;}

.blinkByAddingRemovingThis{background-color: #e4f6fc; color:#7790a5; box-shadow: 0px 0px 6px white; border: .3vmin solid white;}
a.openAboutPageAnchor:link, a.openAboutPageAnchor:visited{color: white; text-decoration: none;}
a.openAboutPageAnchor:hover{text-decoration: none;}
a.openAboutPageAnchor:active{}
.letterSpacingAnimation{letter-spacing: 0.8px; transition: all 1.8s ease-out}
.letterSpacingAnimation:hover{letter-spacing: 3px;}

@font-face {
  font-family: earthmanFont;
  src: url(/user_interface/fonts/Earthman.ttf);
}

::-webkit-scrollbar { /* width */
  width: 7px;
}
::-webkit-scrollbar-track { /* Track */
  background: rgba(255,255,255,0.2);
  box-shadow: inset 0 0 2px rgba(82,110,133,0.5);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb { /* Handle */
  background: rgba(95,115,133,0.65);
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover { /* Handle on hover */
  background: rgba(95,115,133,0.99);
}

.addThisToMakeItSlideTowardsLeft{animation-name: slideToLeftAndDisappear; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;;}
@keyframes slideToLeftAndDisappear {
  from {transform: translateX(0vw); opacity:1;}
  to {transform: translateX(-100vw); opacity:1;}
}
.addThisToMakeItSlideFromRight{animation-name: slideFromRightAndAppear; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes slideFromRightAndAppear {
  from {transform: translateX(100vw); opacity:1;}
  to {transform: translateX(0px); opacity:1;}
}
.addThisToMakeItReturnFromLeft{animation-name: returnFromLeft; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes returnFromLeft {
  from {transform: translateX(-100vw); opacity:1;}
  to {transform: translateX(0vw); opacity:1;}
}
.addThisToMakeItReturnToRight{animation-name: returnToRight; animation-duration: 2.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes returnToRight {
  from {transform: translateX(0vw); opacity:1;}
  to {transform: translateX(100vw); opacity:1;}
}

.kanit{font-family: 'Kanit', 'Oxanium SemiBold', sans-serif;} /*Check if “needLatinFonts” is true and add where necessary*/
.alegreya{font-family: 'Alegreya Sans SC', 'Titillium Web Light', sans-serif; font-size: 2.25vh;} /*This is desktop-only therefore font-size can stay here.*/

@media (max-aspect-ratio: 13/10) {
  .fixPositionWhenNarrowOnDesktops{margin-top: 2.4vh;}
}

.niceFadeOutInfoFast{animation-name: niceFadeOutInfoFast; animation-duration: 0.5s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes niceFadeOutInfoFast {
  0%{opacity:1;}
100%{opacity:0;}
}
.niceFadeOutInfoSlow{animation-name: niceFadeOutInfoSlow; animation-duration: 3.9s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
@keyframes niceFadeOutInfoSlow {
  0%{opacity:1;}
0.1%{opacity:0.75;}
 95%{opacity:0.15;}
100%{opacity:0;}
}

.niceFadeInFast{animation-name: niceFadeIn; animation-duration: 0.75s; animation-fill-mode: forwards; animation-timing-function: ease-in-out;}
.niceFadeInSlow1{animation-name: niceFadeIn; animation-duration: 2.25s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 1s}
.niceFadeInSlow2{animation-name: niceFadeIn; animation-duration: 2.50s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 1.5s}
.niceFadeInSlow3{animation-name: niceFadeIn; animation-duration: 2.75s; animation-fill-mode: forwards; animation-timing-function: ease-in-out; animation-delay: 2.0s}
@keyframes niceFadeIn {
  0%{opacity:0.01;}
100%{opacity:1;}
}
