.verticalTextForKanji {
  writing-mode: vertical-rl;
  line-height: 200%; /*Works with Kosugi Maru Motoya font*/
  }
.alignContentsRightWithFlexForKanjiOnDesktops{ display: flex; flex-direction: row-reverse;} /*Also see forKanjiOnMobiles below*/

/* GOOD PRACTICE: For vertical and horizontal centering with “position fixed translate -50 -50” method use vw vh for left and top instead of %.*/
/* This is because 100% won't equal 100vw or 100vh if size of the body is bigger than the visible area on the screen.*/
/*___________________ALL DEVICES___________________*/
.positionFixedBottomZero{
  position: fixed;
  bottom: 0;
}
p{color: #34546d;}

.proceedToNextButton115AppearFadeIn{
  animation-name: appearSlowlyWhenTimeComes;
  animation-duration: 6.3s;
}
@keyframes appearSlowlyWhenTimeComes {
  0%  {opacity:0;}
  90%  {opacity:0;}
  100% {opacity:1;}
}
/*___________________DESKTOPS__________________*/
/* Medium DESKTOP*/
.classForSpeechBubbleOnDesktops{   left: 38%;  bottom: 50%; width: 34vmin;}
.classForTheBreadOnDesktops{right: 5vmax;}
/* Wide DESKTOP*/
@media (min-aspect-ratio: 19/11) {
  .classForSpeechBubbleOnDesktops{   left: 39%;  bottom: 50%; width: 34vmin;}
  .classForTheBreadOnDesktops{right: 6.7vmax;}
}
/* Narrow DESKTOP*/
@media (max-aspect-ratio: 16/11) {
  .classForSpeechBubbleOnDesktops{   left: 36.5%;  bottom: 50%; width: 34vmin;}
  .classForTheBreadOnDesktops{right: 4vmax;}
}
/* Narrower DESKTOP*/
@media (max-aspect-ratio: 14/11) {
  .classForSpeechBubbleOnDesktops{   left: 9%;  bottom: 59%; width:44vmin;}
  .classForTheBreadOnDesktops{right: 1vmax;}
  #hideThisWhenVeryNarrow{display:none;}
  #moveThisWhenVeryNarrow{margin-bottom: 4.2%;}
}

/*_________________TABLETS_&_PHONES_________________*/
@media (orientation: portrait) {
  /*__EXIT FULLSCREEN__*/
  .classForAuthorsPhotoOnTablets{height: 77vmin; left: 50%; transform: translate(-50%,20px);} /*__TABLET__*/
  .classForTheBreadOnTablets{top: 6vmin; left: 50%; transform: translate(-50%,0%); width: 92vmin; height: 59vmin;} /*__TABLET__*/
  .classForSpeechBubbleElementsOnTablets{position: fixed; left: 50%; transform: translateX(-50%);} /*__TABLET__*/
  .classForSpeechBubbleTextOnTablets{font-size: 4vmin; line-height: 5vmin;} /*__TABLET__*/
  .classForButton115OrientationalPositioningOnTablets{position: fixed; left: 50%; top: 9.5%; transform: translate(-50%,0px);} /*__TABLET__*/

  .classForAuthorsPhotoOnPhones{height: 87vmin; left: 50%; transform: translate(-50%,20px);} /*__PHONE__*/
  .classForTheBreadOnPhones{top: 4vmin; left: 50%; transform: translate(-50%,0%); width: 92vmin; height: 59vmin;} /*__PHONE__*/
  .classForSpeechBubbleElementsOnPhones{position: fixed; left: 50%; transform: translateX(-50%); bottom: 76vmin;} /*__PHONE__*/
  .classForSpeechBubbleTextOnPhones{font-size: 4vmin; line-height: 5.5vmin;} /*__PHONE__*/
  .forKanjiOnMobiles{white-space: pre-wrap;}
  .nudgeTheLittleTriangleOnPhones{margin-left: -5px;}  /*__PHONE__*/
  .classForButton115OrientationalPositioningOnPhones{position: fixed; left: 50%; top: 6%; transform: translate(-50%,3px);} /*__PHONE__*/

  /*__ENTER FULLSCREEN__*/
  @media (max-aspect-ratio: 10/15) {
    .classForButton115OrientationalPositioningOnTablets{position: fixed; left: 50%; top: 15%; transform: translate(-50%,0px);} /*__TABLET__*/

    .classForAuthorsPhotoOnPhones{height: 89vmin; left: 50%; transform: translate(-50%,0px);} /*__PHONE__*/
    .classForTheBreadOnPhones{height: 71vmin;} /*__PHONE__*/
    .classForSpeechBubbleElementsOnPhones{position: fixed; left: 50%; transform: translateX(-50%); bottom: 84vmin;} /*__PHONE__*/
    .classForSpeechBubbleTextOnPhones{font-size: 4.5vmin;} /*__PHONE__*/
    .classForButton115OrientationalPositioningOnPhones{position: fixed; left: 50%; top: 5%; transform: translate(-50%,1px);} /*__PHONE__*/
  }
}
@media (orientation: landscape) {
  /*__ENTER FULLSCREEN__*/
  .classForAuthorsPhotoOnTablets{height: 80vmin; left: 5%; transform: translate(-5%,0%);}
  .classForTheBreadOnTablets{top:15vmin; right: 4vmin; transform: translate(0%,0%); width: 75vmin; height: 62vmin;}
  .classForSpeechBubbleElementsOnTablets{position: fixed; left:0%;}
  .classForSpeechBubbleTextOnTablets{font-size: 5.1vmin; line-height: 6.1vmin;}
  .nudgeTheLittleTriangleOnTablets{margin-left: 42vmin;}
  .classForButton115OrientationalPositioningOnTablets{position: fixed; right: 9vmin; bottom: 5vmin; transform: translate(0%,0%);}

  .classForAuthorsPhotoOnPhones{height: 80vmin; left: 5%; transform: translate(-5%,0%);}
  .classForTheBreadOnPhones{top:10vmin; right: 4vmin; transform: translate(0%,0%); width: 75vmin; height: 62vmin;}
  .classForSpeechBubbleElementsOnPhones{position: fixed; left:0%; bottom: 77vmin;}
  .classForSpeechBubbleTextOnPhones{font-size: 5.1vmin; line-height: 6.1vmin;}
  .forKanjiOnMobiles{white-space: normal;}
  .nudgeTheLittleTriangleOnPhones{margin-left: 42vmin;}
  .classForButton115OrientationalPositioningOnPhones{position: fixed; right: 8vmin; bottom: 3.3vmin; transform: translate(0%,2%);}

  /*__EXIT FULLSCREEN__*/
  @media (min-aspect-ratio: 2/1) {
    .nudgeTheLittleTriangleOnTablets{margin-left: 44vmin;}
    .classForButton115OrientationalPositioningOnTablets{position: fixed; right: 50%; bottom: 50%; transform: translate(37%,35%);}

    .classForAuthorsPhotoOnPhones{height: 80vmin; left: 5%; transform: translate(-5%,0%);}
    .classForTheBreadOnPhones{top:20vmin; height: 55vmin;}
    .classForSpeechBubbleElementsOnPhones{position: fixed; left:0%; bottom: 74vmin;}
    .classForSpeechBubbleTextOnPhones{font-size: 5.5vmin; line-height: 6vmin;}
    .nudgeTheLittleTriangleOnPhones{margin-left: 44vmin;}
    .classForButton115OrientationalPositioningOnPhones{position: fixed; right: 50%; bottom: 50%; transform: translate(36%,45%);}
  }
}
